<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryIndex</key>
		<string>blog0</string>
		<key>categoryUrl</key>
		<string>http://onevcat.com/#blog</string>
		<key>categoryTitle</key>
		<string>喵神</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog1</string>
		<key>categoryUrl</key>
		<string>http://blog.devtang.com/blog/archives/</string>
		<key>categoryTitle</key>
		<string>唐巧</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog2</string>
		<key>categoryUrl</key>
		<string>http://beyondvincent.com/archives/</string>
		<key>categoryTitle</key>
		<string>破船之家</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog3</string>
		<key>categoryUrl</key>
		<string>http://blog.txx.im/</string>
		<key>categoryTitle</key>
		<string>虾神</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog4</string>
		<key>categoryUrl</key>
		<string>http://limboy.me/</string>
		<key>categoryTitle</key>
		<string>无网不剩</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog5</string>
		<key>categoryUrl</key>
		<string>http://jixuqianxing.github.io/</string>
		<key>categoryTitle</key>
		<string>继续前行</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog6</string>
		<key>categoryUrl</key>
		<string>http://nianxi.net/ios/ios-security-overview/</string>
		<key>categoryTitle</key>
		<string>念茜</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog7</string>
		<key>categoryUrl</key>
		<string>http://blog.xcodev.com/blog/archives/</string>
		<key>categoryTitle</key>
		<string>Xcodev</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog8</string>
		<key>categoryUrl</key>
		<string>http://wufawei.com/</string>
		<key>categoryTitle</key>
		<string>吴发伟</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog9</string>
		<key>categoryUrl</key>
		<string>http://zhowkev.in/</string>
		<key>categoryTitle</key>
		<string>Kevin</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog10</string>
		<key>categoryUrl</key>
		<string>http://xiangwangfeng.com/</string>
		<key>categoryTitle</key>
		<string>阿毛</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog11</string>
		<key>categoryUrl</key>
		<string>http://billwang1990.github.io/</string>
		<key>categoryTitle</key>
		<string>亚庆</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog12</string>
		<key>categoryUrl</key>
		<string>http://nonomori.farbox.com/archive</string>
		<key>categoryTitle</key>
		<string>Nonomori</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog13</string>
		<key>categoryUrl</key>
		<string>http://tang3w.com/</string>
		<key>categoryTitle</key>
		<string>言无不尽</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog14</string>
		<key>categoryUrl</key>
		<string>http://www.devtalking.com/articles/</string>
		<key>categoryTitle</key>
		<string>程序员说</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog15</string>
		<key>categoryUrl</key>
		<string>http://blog.cocoabit.com/</string>
		<key>categoryTitle</key>
		<string>Cocoabit</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog16</string>
		<key>categoryUrl</key>
		<string>http://wonderffee.github.io/blog/archives/</string>
		<key>categoryTitle</key>
		<string>Wonderffee</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog17</string>
		<key>categoryUrl</key>
		<string>http://nixzhu.me/archive</string>
		<key>categoryTitle</key>
		<string>nixzhu</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog18</string>
		<key>categoryUrl</key>
		<string>http://studentdeng.github.io/blog/archives/</string>
		<key>categoryTitle</key>
		<string>不会开飞机的男孩</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog19</string>
		<key>categoryUrl</key>
		<string>http://blog.inico.me/</string>
		<key>categoryTitle</key>
		<string>inico</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog20</string>
		<key>categoryUrl</key>
		<string>http://hufeng825.github.io/</string>
		<key>categoryTitle</key>
		<string>阿峰</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog21</string>
		<key>categoryUrl</key>
		<string>http://answerhuang.duapp.com/</string>
		<key>categoryTitle</key>
		<string>answerHuang</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog22</string>
		<key>categoryUrl</key>
		<string>http://blog.nswebfrog.com/</string>
		<key>categoryTitle</key>
		<string>webfrogs</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog23</string>
		<key>categoryUrl</key>
		<string>http://joeyio.com/</string>
		<key>categoryTitle</key>
		<string>代码手工艺人</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog24</string>
		<key>categoryUrl</key>
		<string>http://gracelancy.com/blog/archives/</string>
		<key>categoryTitle</key>
		<string>Lancy&apos;s</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog25</string>
		<key>categoryUrl</key>
		<string>http://imallen.com/</string>
		<key>categoryTitle</key>
		<string>Allen&apos;s</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog26</string>
		<key>categoryUrl</key>
		<string>http://imi.im/</string>
		<key>categoryTitle</key>
		<string>Travis</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog27</string>
		<key>categoryUrl</key>
		<string>http://foggry.com/</string>
		<key>categoryTitle</key>
		<string>王中周</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog28</string>
		<key>categoryUrl</key>
		<string>http://jiajun.org/</string>
		<key>categoryTitle</key>
		<string>会写代码的猪</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog26</string>
		<key>categoryUrl</key>
		<string>http://wangkewei.cnblogs.com/</string>
		<key>categoryTitle</key>
		<string>克伟</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog30</string>
		<key>categoryUrl</key>
		<string>http://www.cnblogs.com/biosli</string>
		<key>categoryTitle</key>
		<string>摇滚诗人</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog31</string>
		<key>categoryUrl</key>
		<string>http://geeklu.com/</string>
		<key>categoryTitle</key>
		<string>卢克</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog32</string>
		<key>categoryUrl</key>
		<string>http://www.yifeiyang.net/</string>
		<key>categoryTitle</key>
		<string>易飞扬</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog33</string>
		<key>categoryUrl</key>
		<string>http://koofrank.com/#blog</string>
		<key>categoryTitle</key>
		<string>KooFrank</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog34</string>
		<key>categoryUrl</key>
		<string>http://msching.github.io/</string>
		<key>categoryTitle</key>
		<string>码农人生</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog35</string>
		<key>categoryUrl</key>
		<string>http://helloitworks.com/</string>
		<key>categoryTitle</key>
		<string>Helloitworks</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog36</string>
		<key>categoryUrl</key>
		<string>http://ivoryxiong.org/</string>
		<key>categoryTitle</key>
		<string>烫仔煲</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog37</string>
		<key>categoryUrl</key>
		<string>http://yulingtianxia.com/</string>
		<key>categoryTitle</key>
		<string>王令天下</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog38</string>
		<key>categoryUrl</key>
		<string>http://adad184.com/</string>
		<key>categoryTitle</key>
		<string>里脊串</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog39</string>
		<key>categoryUrl</key>
		<string>http://chun.tips/</string>
		<key>categoryTitle</key>
		<string>Chun Tips</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog40</string>
		<key>categoryUrl</key>
		<string>http://blog.callmewhy.com/</string>
		<key>categoryTitle</key>
		<string>汪海实验室</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog41</string>
		<key>categoryUrl</key>
		<string>http://www.hotobear.com/</string>
		<key>categoryTitle</key>
		<string>不掏蜂窝的熊</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog42</string>
		<key>categoryUrl</key>
		<string>https://andelf.github.io/</string>
		<key>categoryTitle</key>
		<string>猫仁波切</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog43</string>
		<key>categoryUrl</key>
		<string>http://www.cnblogs.com/kenshincui/</string>
		<key>categoryTitle</key>
		<string>Kenshin</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>blog44</string>
		<key>categoryUrl</key>
		<string>http://suenblog.duapp.com/</string>
		<key>categoryTitle</key>
		<string>技术哥</string>
		<key>categoryType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
