<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryIndex</key>
		<string>0</string>
		<key>categoryUrl</key>
		<string>http://objcio.cn/</string>
		<key>categoryTitle</key>
		<string>objc中国</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>1</string>
		<key>categoryUrl</key>
		<string>https://www.cocoacontrols.com/</string>
		<key>categoryTitle</key>
		<string>cocoacontrols</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>2</string>
		<key>categoryUrl</key>
		<string>http://www.pttrns.com/</string>
		<key>categoryTitle</key>
		<string>pttrns</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>3</string>
		<key>categoryUrl</key>
		<string>http://stackoverflow.com/questions/tagged/ios</string>
		<key>categoryTitle</key>
		<string>stackoverflow</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>4</string>
		<key>categoryUrl</key>
		<string>http://www.cocoachina.com/ios/</string>
		<key>categoryTitle</key>
		<string>cocoachina</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>5</string>
		<key>categoryUrl</key>
		<string>http://www.cocoachina.com/cms/plus/search.php?keyword=%E6%BA%90%E7%A0%81%E6%8E%A8%E8%8D%90&amp;searchtype=titlekeyword&amp;channeltype=0&amp;orderby=&amp;kwtype=0&amp;pagesize=10&amp;typeid=0&amp;TotalResult=161&amp;PageNo=1</string>
		<key>categoryTitle</key>
		<string>cocoachina源码推荐</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>6</string>
		<key>categoryUrl</key>
		<string>http://www.raywenderlich.com</string>
		<key>categoryTitle</key>
		<string>raywenderlich</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>7</string>
		<key>categoryUrl</key>
		<string>http://iosdevelopertips.com/</string>
		<key>categoryTitle</key>
		<string>iOS开发者Tips</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>8</string>
		<key>categoryUrl</key>
		<string>http://nshipster.cn/</string>
		<key>categoryTitle</key>
		<string>NShipster</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>9</string>
		<key>categoryUrl</key>
		<string>http://iosdevweekly.com/</string>
		<key>categoryTitle</key>
		<string>iOS Dev Weekly</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>categoryIndex</key>
		<string>10</string>
		<key>categoryUrl</key>
		<string>http://subjc.com/</string>
		<key>categoryTitle</key>
		<string>subjc</string>
		<key>categoryType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
